[project]
name = "sqlite-utils-sqlite-regex"
version = "${VERSION}"
description = "TODO"
readme = "README.md"
authors = [{name = "Alex Garcia"}]
license = {text = "Apache-2.0"}
classifiers = []

dependencies = [
    "sqlite-utils",
    "sqlite-regex"
]

[project.urls]
Homepage = "https://github.com/asg017/sqlite-regex"
Changelog = "https://github.com/asg017/sqlite-regex/releases"
Issues = "https://github.com/asg017/sqlite-regex/issues"

[project.entry-points.sqlite_utils]
sqlite_regex = "sqlite_utils_sqlite_regex"
